{% extends "base.html.twig" %}

{% block title %}Gérer les gîtes{% endblock %}
{% block body %}

<body>
    <div class="container mt-4">
        <h1 class="mt-3 text-center">Créer un nouveau gîte</h1>

        {{ include ('admin/property/_form.html.twig', {form: form, button: 'Créer'}) }}
        
        <a href="{{ path('admin.option.index') }}" class="btn btn-primary mt-4">Gérer les options</a>
  
    </div>
</body>
{% endblock %}