{% extends "base.html.twig" %}

{% block title %}Gérer les gîtes{% endblock %}
{% block body %}

<body>
    <div class="container mt-4">
        <h1 class="mt-3 text-center">Editer l'option</h1>

        {{ include ('admin/option/_form.html.twig', {button: 'Editer'}) }}
    </div>

  
</body>

{% endblock %}